@{
    ViewData["Title"] = "NoAuthorization";
}

<div class="card container">
    <div class="card-header bg-primary text-light">無存取權限</div>
    <div class="card-body">
        <ul>
            <li>請先登入會員，才能使用系統</li>
            <li>若註冊後無法登入，請聯絡管理員</li>
        </ul>
    </div>
</div>